.homePage{
	height: 100%;
	width: 100%;
	background-color: #ffffff;

}
.center-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');

#appBar{
	width: 100%;
	height: 60px;
	background-color: transparent;
	vertical-align: middle;
	color: black;
  
  }
  #optionGrid{
	  width: 100%;
	  margin:0;
	  height: 100%;
	  padding-top:40px;
  }
.rightToolbar{
	margin-left: auto;
  }
.topText{
	font-size: 20px;
}
#homeImg{
	margin:50px;
	width:100%;
}
.optionButton{
	width: 150px;
	padding: 5px;
	font-size: medium;
}
.paperContainer{
	width: 200px;
	height: 250px;
}
.optionLine{
	text-align: center;
	font-family: 'Arial';
	background-color: purple;
	color: white;
}
.paperImg{
	width: 200px;
	height: 200px;
}
#goGullyTextSmall{
	color:green;
    font-family:"Anton",sans-serif;
    font-size:20px;
	text-align: center;
    font-style:Italic;
}
#goGullyText{
    color:green;
	width: 100%;
	margin-top: 25%;
    font-family:"Anton",sans-serif;
    font-size:100px;
	text-align: center;
    font-style:Italic;
}
.bottomSection{
	width: 100%;
	
}
.leftContainer{
	width: 50%;
	height: 100%;
}
.rightContainer{
	width: 50%;
	height: 100%;
}
#searchField{
	width: 400px;
	height: 50px;
	border-width: 1px;
	padding-left:10px;
	padding-right: 10px;
	text-align: center;
	margin-top: 20px;
	font-size: large;
	border-radius: 20px;
	position: relative;
	margin:0 auto;
  }
 #searchInput{
	  width: 350px;
	 border-radius: 0;
	 border-width: 0px;
	 margin-top: 10px;
	 padding-right: 15px;
	 padding-left: 10px;
 }
#searchIcon{
	position: absolute;
	right:8px;
	bottom: 13px;
}
textarea:focus, input:focus{
    outline: none;
}
.menuOption{
	color: green;
	font-weight: bold;
	font-family: 'Poppins';
	text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
	#goGullyText{
		font-size: 70px;
	}
	#searchField{
		width: 250px;
	}
	#searchInput{
		width: 230px;
	}
	#homeImg{
		width: 500px;
	}
  }

  #sideImg{
	  margin:10%;
  }
  
  /* * {
	border: 1px solid #f00 !important;
  } */
